* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

div#resume-root {
    width: 95%;
    margin: auto;
}

img {
    margin: auto;
    display: block;
}

h1 {
    display: block;
    text-align: center;
}

li {
    list-style: none;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main section#introduction {
    display: block;
    text-align: center;
}

main section#education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section#education ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main section#works p {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

main section#works div#works-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main section#works div#works-list ul li {
    margin: 5px;
}

main section#contact-section > p {
    display: block;
    text-align: center;
}
    main section#contact-section address {
        display: block;
        text-align: center;
    }
    /* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/
    /* -------------------------------------
place all the desktop styles above this line


/* mobile first approach = (the website was built initialy for mobiles and it will be adapted for desktop)
This is the ideal way to built websites because it is much easier to adapt from a small screen and low computing power (mobiles) to a large screen and high computing power (desktops)
*/
    /*iPhone portrait*/
    @media only screen and (min-width: 320px) {
        body {
            border: 3px solid purple;
        }
    }
    /*iPhone landscape*/
    @media only screen and (min-width: 480px) {
        /* body {
            border: 3px solid green;
        } */
    }
    /*Android landscape*/
    @media only screen and (min-width: 640px) {
        /* body {
            border: 3px solid pink;
        } */
    }
    /*iPad potrait*/
    @media only screen and (min-width: 768px) {
        /* body {
            border: 3px solid red;
        } */
    }
    /*iPad lanscape / small laptop*/
    @media only screen and (min-width: 1024px) {
        /* body {
            border: 3px solid blue;
        } */
    }
    /*large desktop*/
    @media only screen and (min-width: 1600px) {
        /* body {
            border: 3px solid yellow;
        } */
    }